.nav_top{
	height:60px;
}
.nav_logo{
    float: left;
    margin-left:30px;
    height: 44px;
    width: 190x;
    padding:15px;
}
.pic_logo{
	width:40px;
	height: 40px;
}
.nav_logo_text{
	text-decoration: none;
	font-weight:600;
    font-size: 20px;
	color:#424e67;
}
a:hover {
	text-decoration:none;
}
a:focus {
	text-decoration:none;
}
.bg_login{
	float:right;
	background:#FFF;
	width:350px;
	height:410px;
	position:relative;
	-webkit-border-radius: 5px;
}
.lg_tiele{
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	font-size:20px;
	font-weight:900;
	width:80%;
}
.login{
	margin-left: auto;
	margin-right: auto;
	padding-top:60px;
	width:80%;
}
.lg_bottom{
	height:65px;
	width:100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
	position: absolute;
	background:#F3F8FF;
    bottom: 0;
    left: 0;
    right: 0;
}