<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 注意，namespace的名字要和对应的接口的全路径名一致 -->
<mapper namespace="cn.tarena.ht.mapper.ElectiveCourseMapper">

<resultMap type="cn.tarena.ht.pojo.Course" id="courseResult">
	<id property="cid" column="cid"></id>
	<result property="tid" column="tid"/>
	<result property="cname" column="cname"/>
	<result property="cycle" column="cycle"/>
	<result property="address" column="address"/>
	<result property="time" column="time"/>
  </resultMap>

    <!-- 选课 -->
	<insert id="InsertElectiveCourse" parameterType="int" >
	INSERT INTO elective_course (sid,cid) VALUES (#{utid},#{cid})
	</insert>
	
	
	<!-- 显示学生所有课程 -->
	<select id="showCourse" parameterType="int" resultType="cn.tarena.ht.result.ShowCourseResult">
		select 
		EC.ECID,ec.cid,
		c.cname,c.cycle,c.ADDRESS,c."TIME",
		ut.nick_name,
		t.tname,
		ec.works,ec.grade,ec.message
		from ELECTIVE_COURSE ec 
		LEFT JOIN COURSE c on c.CID=EC.CID
		LEFT JOIN USERTABLE ut on ut.utid=c.tid
		LEFT JOIN TOPIC t on t.tid=ec.tid
		where EC.sid=#{utid} and ec.tid is null
	</select>

	<!-- 成绩查询 -->
	<select id="showCourseGrade" parameterType="int" resultType="cn.tarena.ht.result.ShowCourseResult">
		select 
		EC.ECID,
		c.cname,c.cycle,c.ADDRESS,c."TIME",
		ut.nick_name,
		t.tname,
		ec.works,ec.grade,ec.message
		from ELECTIVE_COURSE ec 
		LEFT JOIN COURSE c on c.CID=EC.CID
		LEFT JOIN USERTABLE ut on ut.utid=c.tid
		LEFT JOIN TOPIC t on t.tid=ec.tid
		where EC.sid=#{utid} and ec.grade  is  not  null
	</select>
	
	<!-- 检查是否已经选过这个课程 -->
	<select id="CheckElectiveCourse" parameterType="int" resultType="cn.tarena.ht.result.CheckCourse">
		select 
		EC.ECID,
        c.cid,
		c.cname,c.cycle,c.ADDRESS,c."TIME",
        ut.nick_name
		from ELECTIVE_COURSE ec 
		LEFT JOIN COURSE c on c.CID=EC.CID
		LEFT JOIN USERTABLE ut on ut.utid=c.tid
		where  ec.cid=${cid} and ec.sid=${utid}
	</select>
	
   <delete id="deleteCourse" parameterType="int">
   		delete from ELECTIVE_COURSE where ecid=#{ecid}
   </delete>
   
   <update id="selectCourseTopic" parameterType="int">
      update ELECTIVE_COURSE set tid=#{tid},works=#{works} where ecid=#{ecid} and sid=#{utid}
   </update>

	
	
	
</mapper>