<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 注意，namespace的名字要和对应的接口的全路径名一致 -->
<mapper namespace="cn.tarena.ht.mapper.TopicMapper">
	
	<select id="showCourseTopic" parameterType="int"  resultType="cn.tarena.ht.pojo.Topic">
		SELECT * from TOPIC where cid=#{cid} and sum >0
	</select>
	
	<select id="showCourseTeacherTopic" parameterType="int"  resultType="cn.tarena.ht.pojo.Topic">
		SELECT * from TOPIC where cid=#{cid} 
	</select>
	
	<update id="updateTopicSum" parameterType="int">
		update topic set sum=sum-1 where tid=#{tid}
	</update>
	
	<insert id="addCourseTopic" parameterType="cn.tarena.ht.pojo.Topic">
			INSERT INTO TOPIC (CID,TNAME,CLAIM) VALUES(#{topic.cid},#{topic.tname},#{topic.claim})
	</insert>
</mapper>