<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 注意，namespace的名字要和对应的接口的全路径名一致 -->
<mapper namespace="cn.tarena.ht.mapper.UserMapper">
<resultMap type="User" id="userRM">
	<id property="uid" column="uid"></id>
	<result property="name" column="name"/>
	<result property="pwd" column="pwd"/>
  </resultMap>

	<!-- 1.查询所有用户信息 -->
	<select id="selectList" resultMap="userRM">
		SELECT *  FROM "user"
	</select>
	
</mapper>